body {
    margin: 0;
    font: normal 75% "Roboto",  sans-serif;
    overflow: hidden;
    /* background-color: #2a2a72; */
    /* background-image: linear-gradient(90deg, #2a2a72 0%, #009ffd 74%); */
    background-image: linear-gradient(90deg, #29539b 0%, #1e3b70 74%);
  }
  canvas {
    display: block;
}


body h1 {
    overflow: hidden;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    text-transform: uppercase;
    color: white;
    font-size: 100px;
    background: transparent;
    /* -webkit-text-stroke: 0.1px black; */
    text-align: center;
    transform: translate(-50%, -50%);

}

/* Wave animation */
@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    background: transparent;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background: transparent;
}
.bgTop {
    z-index: 15;
    opacity: 0.2;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.45;
}
.bgBottom {
    z-index: 5;
    opacity: 0.6;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move_wave 10s;
   -webkit-animation: move_wave 15s;
   -webkit-animation-delay: 3s;
   animation-delay: 3s;
   animation-iteration-count: infinite;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}
  
/* ---- particles.js container ---- */
#particles-js {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  